*{
  box-sizing: border-box;
}

html{
  font-family: Verdana;
  color: #555555;
  font-size: 16px;
}

header{
  text-align: center;
  background-image: linear-gradient(60deg, #ff0000, #ffa500);
  color: #fff;
}

body{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main{
  display: flex;
  flex-grow: 1;
}

.navigation, .news{
  padding: 0.5em;
  width: 20%;
}

.section{
  padding: 0.5em;
  width: 60%;
  font-size: 1.25em;
}

.section__header{
  font-size: 5vw;
  text-align: center;
}

.units-list{
  line-height: 1.75em;
}

.css-units{
  color:#8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.nav-list{
  padding: 0;
  list-style-type: none;
}

.nav-list-item{
  background-color: #808080;
  height: 2em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.nav-list-link{
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0.5em;
  text-decoration: none;
  color: #fff;
}

h1{
  margin: auto;
}

.footer{
  text-align: center;
  background-color: #e5e5e5;
  padding: 0.5em;
}