.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner{
  display: flex;
  flex-direction: column;
}

.spinner-text{
  text-transform: uppercase;
  font-size: 16px;
  font-family: monospace;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rect {
  position: relative;
  width: 10px;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
  animation-name: moving,blinking;
  animation-duration: 4s, 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes moving {
  0% {
    left: 0;
    opacity: 1;
  }
  50% {
    left: 70px;
  }
  100%{
    left: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}