*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  height: 3em;
  padding: 0 1em;
  background-color: #eee;
}

.header__button{
  display: flex;
  border: none;
  padding: 0;
  align-items: center;
  cursor: pointer;
}

.fa-bars{
  margin: auto;
  font-size: 2em;
}

.navigation{
  padding: 0.5em 0;
  width: 20%;
}

.nav-list{
  list-style-type: none;
  padding: 0;
}

.nav-list-item{
  height: 2em;
  margin: 0.5em;
  background-color: #808080;
  display: flex;
}

.nav-list-link{
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  padding: 0.5em;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width:599px){
  .main{
    visibility: hidden;
  }
}

@media screen and (min-width:600px){
  .header__button{
    visibility: hidden;
  }
}