.spinner{
  position: absolute;
  top: 50vh;
  left: 50vw;
  text-transform: uppercase;
  font-size: 16px;
  font-family: monospace;
}

.spinner-text{
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rect{
  background-color: #000000;
  border-radius: 2px;
  width: 10px;
  height: 4px;
  animation: moving;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}